.comparison-slider *,
.comparison-slider:before,
.comparison-slider:after,
.comparison-slider *:before,
.comparison-slider *:after {
    box-sizing: border-box;
}

.comparison-slider>* {
    height: 100%;
}



.comparison-slider img, .comparison-slider svg {
    vertical-align: bottom; }
  .comparison-slider > * {
    height: 100%; }
  .comparison-slider > img {
    max-width: 100%;
    height: auto; }



.comparison-reveal> :first-child {
    width: 200%;
    max-width: none;
    height: 100%;
    filter:brightness(0.9);
}

.comparison-reveal>img:first-child {
    height: auto;
}

.comparison-range {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    left: -1px;
    width: calc(100% + 2px);
    cursor: pointer;
    -webkit-appearance: slider-horizontal !important;
    -moz-appearance: none;
    opacity: 0;
    -ms-touch-action: auto;
    touch-action: auto;
}

.comparison-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 300vh;
}

.comparison-range::-moz-range-thumb {
    -webkit-appearance: none;
    height: 300vh;
}

.comparison-range::-ms-tooltip {
    display: none;
}

.comparison-handle {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    color:inherit;
    background-color: var(--highlight-color);
    width: 80rem;
    height: 80rem;
    border-radius: 50%;
    transition: background 0.3s, opacity 0.5s 0.25s;
}

.comparison-handle:before {
    content: "Drag";
    position: absolute;
    font-size: 14rem;
    font-weight:500;
    line-height: 1;
    color:var(--primary-color);
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.comparison-handle-carets {
    position: absolute;
    top: -5rem;
    left: -5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% + 10rem);
    height: calc(100% + 10rem);
    transform: scale(.6);
    transform-origin: center;
    opacity: 0;
    transition: transform .2s var(--ease-out-soft), opacity .2s var(--ease-out-soft);
}

.comparison-handle-carets figure {
    width: 8rem;
    height: auto;
}

.comparison-handle-carets figure:nth-child(2) {
    transform: rotate(180deg);
}

.comparison-handle-carets figure svg {
    fill: var(--primary-color);
    width: 100%;
    height: 100%;
    display: block;
}

.comparison-range {
		cursor:none !important;
}


.comparison-slider[data-comparison-label]:after,
.comparison-reveal[data-comparison-label]:after {
    content: attr(data-comparison-label);
    font-size: 14rem;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    top:0;
    line-height: 1;
    padding: 40rem;
    clip-path: circle(40rem at 50% 50%);
    color: var(--primary-color);
    background-color: #eaeaea;
}

.comparison-slider[data-comparison-label]:after {
    right: 20rem;
}

.comparison-reveal[data-comparison-label]:after {
    left: 20rem;
}

.comparison-slider[data-comparison-label=""]:after,
.comparison-reveal[data-comparison-label=""]:after {
    content: none;
}

.comparison-ready .comparison-reveal,
.comparison-ready .comparison-handle {
    opacity: 1;
}